<!DOCTYPE html>
<html lang="Pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap"
        rel="stylesheet">
    <title>Início</title>
</head>

<body>
    <main class="menuCaixa">
        <h1>Antônio Presidente 12</h1>
    </main>

    <header>
        <nav>
            <a class="links"  href="/educacao">Educação</a>
            <a class="links"  href="/saude">Saúde</a>
            <a class="links"  href="/seguranca">Segurança</a>
            <a class="links"  href="/economia">Economia</a>
            <a class="links"  href="/cultura">Cultura</a>
            <a class="links"  href="/gestao">Gestão</a>
            <a class="links"  href="/qualidadeDeVida">Qualidade de vida</a>
            <a class="links"  href="/politicaInterna">Politica Nacional</a>
            <a class="links"  href="/politicaExterna">Politica Internacional</a>
            <a class="links"  href="/exercito">Exercito</a>
            <a class="links"  href="/meioAmbiente">Meio Ambiente</a>
            <a class="links"  href="/">Pagina Principal</a>
        </nav>
    </header>


</body>

</html>