* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menuCaixa{
    display: flex;
    align-items: center center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 15px;
}

.links{
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.5s;
}

.links:hover{
    color: rgb(142, 3, 3);
    background-color: rgba(63, 62, 63, 0.226);
    border-radius: 50px;
}